<%= render 'home/header' %>
<h1>To jest strona o mnie...</h1>
<p>
  W tym momencie nie chce mi się o sobie mówić... Taka sekcja <%= link_to 'O mnie', home_about_path %> Cię nie jara?
  Przykro mi... możesz zawsze wrócić na <%= link_to 'Stronę Główną', root_path %>
</p>
