<%= render 'home/header' %>
<h1>Strona Główna Wita</h1>
<p>Znaczy... tak na prawdę to ja witam. Strona główna się wyświetla tylko.</p>
<p>
  Ale jak chcesz się czegoś dowiedzieć to wejdź na stronę <%= link_to 'O mnie', home_about_path %>
</p>
